@import '../../sassStyles/variables';
@import '../../sassStyles/mixins';

.form {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .form__input {
    margin-right: 24px;
    width: calc(100% - 217px - 24px);
  }

  @include smMaxBreakPoint() {
    & {
      flex-wrap: wrap;

      .form__input {
        width: 100%;
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
  }
}

.search {
  .search__text {
    width: 100%;
    margin-bottom: 24px;
  }
}

.main__search {
  margin-bottom: 32px;
}

.main__address {
  box-shadow: 0px 2px 8px rgba(2, 0, 97, 0.25);
  border-radius: 10px;
  padding: 24px;

  .address__list-item {
    padding: 16px 0;
    border-top: 1px solid $color-border;

    &:nth-last-child(1) {
      padding-bottom: 0;
    }
  }
}
