@import './variables';

* {
  box-sizing: border-box;
}

body {
  background-color: $color-lightAlpha;
  margin: 0;
  padding: 0;
  font-family: $font-montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: $color-mainText;
  height: 100vh;
  min-height: 100%;
}

#root {
  height: 100%;
}

a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

h2 {
  margin: 0;
}

.title {
  margin-bottom: 16px;
  color: $color-dark;
}

.subtitle {
  color: $color-dark;
}

.input {
  padding: 23px 24px;
  border: 3px solid $color-brand;
  border-radius: 10px;
}

.button {
  background: $color-brand;
  border: none;
  border-radius: 10px;
  padding: 19px 40px;
  color: $color-light;
  display: flex;
  align-items: center;

  &.disabled {
    cursor: auto;
    opacity: 0.8;
  }

  span {
    margin-left: 16px;
  }
}

.icon--filter-white {
  filter: invert(100%) sepia(0%) saturate(7495%) hue-rotate(330deg)
    brightness(103%) contrast(101%);
}

.link {
  color: $color-link;
  text-decoration: underline;
}

.info {
  margin: 2rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-dark;
  font-size: 2rem;
}
