$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1280px;

$color-brand: #4f27bf;
$color-light: #fff;
$color-title: #1c1c1e;
$color-lightAlpha: #ffffff0d;

$color-mainText: #000;
$color-placeholder: #6c6c6c;
$color-line: #d7d7d7;

$font-montserrat: 'Montserrat', sans-serif;
