@import './sassStyles/mixins';

.app {
  display: grid;
  grid-template-areas:
    'header header'
    'nav content';
  grid-template-columns: 300px 1fr;
  grid-template-rows: 80px 1fr;
  height: 100vh;
  max-width: 1440px;
  margin: 0 auto;

  @include smMaxBreakPoint() {
    & {
      grid-template-columns: 0 1fr;
    }
  }
}
